<% title "Computers" %>
        
<div id="filter">
  Filter Results: <%= text_field_tag :computer_filter, params[:computer_filter] %>
  <span><%= image_tag("spinner.gif",
      :border => 0,
      :id => "spinner",
      :style =>"display: none;" ) %></span>
</div>

<div style="clear:both;"></div>

<div id="computers">
<%= render :partial => "computers" %>
</div>

<%= observe_field :computer_filter, :frequency => 0.5,
        :update => "computers",
        :before => "Element.show('spinner')",
        :success => "Element.hide('spinner')",
        :url => {:action => 'computer_filter'},
        :with => "computer_filter" %>