/* Basic Page Styles */

body {
  background-color: #363F59;
}

.content_container, .details_container {
  background-color: #fff;
}

.content_container {
  min-width: 875px;
}

input.search.text {
	width:46%;
}

input.search.button, a.search.link {
	width:24%;
	margin-left:2%;
}


/* AS Overides and Customization */

#as-content-box {
  padding: 0;
}

.active-scaffold td img {
  margin: auto;
}

.active-scaffold td a, .active-scaffold td span, .active-scaffold td img {
  vertical-align: middle;
}

.active-scaffold tr.record td, .active-scaffold th {
  text-align: center;
  vertical-align: middle;
  line-height: 1.2em;
}

.active-scaffold th img {
  margin-top: 2px;
}

.active-scaffold th a {
  padding: 2px 15px 2px 15px;
}

.active-scaffold tr.record td select {
  font-size: 11px;
  font-weight: normal;
  letter-spacing: 0;
}

/* Specific Column Syling */

td.fqdn-column {
  cursor: pointer;
}

span.health-error {
  background-color: #FCC;
  border: solid 1px #C66;
  padding: 0 5px 0 5px;
}

span.health-warning {
  background-color: #FF9;
  border: solid 1px #FF0;
  padding: 0 5px 0 5px;
}

span.health-normal {
  background-color: #CFC;
  border: solid 1px #6C6;
  padding: 0 5px 0 5px;
}

span.health-empty {
  color: #999;
}

span.domain {
  color: #888;
}

span.credit-card {
	float: right;
}


td.av_overview-column, td.fqdn-column, td.av_scanned-column, td.av_new-column {
  white-space:nowrap;
}

span.in_place_editor_field {
  cursor: pointer;
}

/* Tooltip Styling */

h2.details-heading {
	font-weight:normal;
	padding:.5em;
	margin:0 0 10px 0;
	border-bottom:1px solid #ccc;
}

.ui-tooltip-ajax {
  max-width: 80%;
}

.ui-tooltip-text {
  max-width: 50%;
}

.ui-tooltip-details {
  width: 60%;
}

.ui-tooltip-details .ui-tooltip-wrapper {
  background-color: #fff;
}

.active-scaffold span.tip {
	vertical-align: baseline;
}

/* Details Styling */

table.salad caption {
  font-weight: bold;
}

.box h2 a.visible {
  	background:#333 url("/images/switch_minus.gif") 97% 50% no-repeat;
}