body {
  background-color: #363F59;
}

.container_16 {
  background:#fff;
  min-width: 750px;
}

span.health-error {
  background-color: #FCC;
  border: solid 1px #C66;
  padding: 0 5px 0 5px;
}

span.health-warning {
  background-color: #FF9;
  border: solid 1px #FF0;
  padding: 0 5px 0 5px;
}

span.health-normal {
  background-color: #CFC;
  border: solid 1px #6C6;
  padding: 0 5px 0 5px;
}

span.health-empty {
  color: #999;
}

#as-content-box {
  padding: 0;
}

.active-scaffold td img {
  margin: auto;
}

.active-scaffold tr.record td, .active-scaffold th {
  text-align: center;
  vertical-align: middle;
  line-height: 1.2em;
}

.active-scaffold th img {
  margin-top: 2px;
}

.active-scaffold th a {
  padding: 2px 15px 2px 15px;
}

.active-scaffold tr.record td select {
  font-size: 11px;
  font-weight: normal;
  letter-spacing: 0;
}

span.in_place_editor_field {
  cursor: pointer;
}

input.search.text {
	width:46%;
}

input.search.button, a.search.link {
	width:24%;
	margin-left:2%;
}
